<div class="header">
	<img src="assets/plane.png" alt="plane" class="img-plane">
	<div class="header-text">
		<h1>Get Me Outta Here</h1>
		<p class="tagline">Literally run away from your problems</p>
	</div>
</div>
<div class="page">
	<ul class="navbar">
		<li class="navbar-item"><a routerLink="idk">Home</a></li>
		<li class="navbar-item"><a routerLink="idk">Account</a></li>
	</ul>

	<div class="body">
		<h2>Departure City</h2><br>

		<p>Tired of the constant stress of school or work? Unhappy wife, unhappy life? Have a couple of shitty kids? Well fret no more! You can get the hell out of there using this simple search for the fastest flight out of the closest airport.</p><br>

		<h3>Type the departure city below</h3>

		<input (keyup)="onKey($event)"><br><br>

		<div id="search-container">
			<p *ngFor="let airport of air" (click)="onSelect(airport)" class="airport-search">
				<a routerLink="/find_flight/{{airport.code}}" class="airport">{{airport.city}}</a>
			</p>
		</div>
	</div>
</div>