<div class="header">
	<img src="assets/plane.png" alt="plane" class="img-plane">
	<div class="header-text">
		<h1>Get Me Outta Here</h1>
		<p class="tagline">Literally run away from your problems</p>
	</div>
</div>
<div class="page">
	<ul class="navbar">
		<li class="navbar-item"><a routerLink="idk">Home</a></li>
		<li class="navbar-item"><a routerLink="idk">Account</a></li>
	</ul>

	<div class="body">
		<h2>Next Flight From {{air.city}}</h2><br>

		<p>When is the earliest you can leave?</p><br>
		<div>
			<h3>Please enter in military time e.g. 1:00 PM as 13:00</h3>
			<input (keyup)="onKey($event)" >

			<div *ngIf="fli">
				<h3>Departure:</h3>
				<p>{{air.name}}</p>
				<p>{{fli.departs_at}}</p><br>

				<h3>Arrival:</h3>
				<p>{{rand.name}}</p>
				<p>{{fli.arrives_at}}</p><br>

				<button class="btn-flight" id="try-again" routerLink="/find_flight/{{code}}"><span>Try Again  </span></button>
				<button class="btn-flight" id="book-flight" routerLink="/find_flight/{{code}}"><span>Book Flight  </span></button>
			</div>
		</div>
	</div>
</div>