<h1>Next Flight From {{air.city}}</h1>
<h3>When is the earliest you can leave?</h3>

  <p>Please enter in military time e.g. 1:00pm as 13:00 </p>
<input (keyup)="onKey($event)" >

<div *ngIf="fli">
  <h2>We found you a flight</h2>
  <h3>Departs From:</h3>
  <h5>{{air.name}}</h5>
  <h3>At:</h3>
  <h5>{{fli.departs_at}}</h5>

  <h3>Lands At:</h3>
  <h5>{{rand.name}}</h5>
  <h3>At:</h3>
  <h5>{{fli.arrives_at}}</h5>

  <button (click)="onClickMe()">Ready To Book</button>

  </div>

  <div *ngIf="bool">
    <form [formGroup]="ticket" (ngSubmit)="onSubmit()">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" formControlName="first_name"   />

        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" formControlName="last_name"   />

        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" formControlName="age"   />

        </div>
        <div>
            <label for="gender">Gender</label>
            <input type="text" formControlName="gender"  />

        </div>
        <button>Book Now</button>


    </form>
    <h1>{{recievedTicket.first_name}}</h1>

</div>
